altair == 4.1.0
bayespy == 0.5.22
CairoSVG == 2.7.0
python-louvain == 0.15
fancyimpute == 0.7.0
forgi == 2.0.2
h5py == 3.8.0
igraph == 0.9.9
intervaltree == 3.1.0
leidenalg == 0.8.9
matplotlib >= 3.5.1
networkx == 2.6.2
numba == 0.55.1
numpy <= 1.21.5
pandas >= 1.1.5
pyfaidx >= 0.6.1
ruptures >= 1.1.6
scipy >= 1.5.4
seaborn >= 0.11.2
scikit-learn >= 0.24.2
scikit-learn-extra >= 0.2.0
tslearn >= 0.5.2
umap-learn == 0.5.1
plotly >= 5.2.1